.lista-suspensa {
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
}

.lista-suspensa select {
  background-color: #fff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  border: solid 1px #cccc;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  &:hover {
    border-color: #ababab;
  }
}

.lista-suspensa label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}

.lista-suspensa option {
  font-size: 16px;
}
